# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Mirjahon\Inha University\Assignments Sophomore\2- Internet Programming\Labs\lab-8-mirjahon-ulmasov\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
